/* import fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}
/* top banner styles */
.banner{
    background: #264653;
}
.banner p{
    font-size: 14px;
    font-weight: 300;
}
/* featured section styles */
.grayscle{
    filter: grayscale(1);
}

/* client section styles */
.clients-img {
    max-width: 50%;
    height: auto;
}

/* faq section styles */
.faq-image{
    width: 70%;
    height: auto;
}
